<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ResultsSamplePeriodInMinutes" value="20"/>
    <add key ="ImagesSamplePeriodInMinutes" value ="60"/>
    <add key ="PreliveSamplePeriodInMinutes" value="10"/>
    <add key ="TeamsSamplePeriodInMinutes" value="240"/>
    <add key ="TrackLive" value="true"/>
    <add key ="LiveSamplePeriodInSeconds" value="10"/>
    <add key ="CreateTablesOnStartup" value="false"/>
    <add key ="ImagesSavePath" value="..\\..\\..\\..\\TeamImages\\"/>
  </appSettings>
  <connectionStrings>
    <add name="SQL" connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=TrackerDB; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>