<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ResultsSamplePeriodInMinutes" value="60"/>
    
  </appSettings>
  <connectionStrings>
    <add name="SQL" connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=TrackerDB; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>