<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ResultsSamplePeriodInMinutes" value="20"/>
    <add key ="ImagesSamplePeriodInMinutes" value ="60"/>
    <add key ="ImagesSavePath" value="E:\\TeamImages\\"/>
  </appSettings>
  <connectionStrings>
    <add name="SQL" connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=TrackerDB; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>